{% extends 'index.html.twig' %}

{% block subheader %}
{% endblock subheader %}

{% block content %}
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
{% if page.date %}
        <span class="date">{{ page.date|date("j M Y") }}</span>
        <span>&#128336; {{ readtime(page.content) }} min</span>
        <span>&#9998; <a href="#disqus_thread"><script id="dsq-count-scr" src="//arnaudligny.disqus.com/count.js" async></script>Commentaires</a></span>
{% endif %}
    </header>
    <section class="content">
        {{ page.content }}
    </section>
    <div class="tags">
{% for tag in page.tags %}
        <a href="{{ url('tags/' ~ tag) }}">#{{ tag }}</a>&nbsp;
{% endfor %}
    </div>
<h2>Commentaires</h2>
{% include 'blog/comments.html.twig' %}
</article>
{% endblock %}
