{% extends 'section/blog.html.twig' %}

{% block title %}
    {% set title = page.title ~ ' &middot; ' ~ blog_title %}
    {{ title }}
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
{% if page.date %}
            <span class="post-date">{{ page.date|date("j M Y") }}</span>
{% endif %}
            <span class="post-time">&#128336;&nbsp;{{ readtime(page.content) }}&nbsp;min</span>
{% if site.comments %}
            <span class="post-com">&#9998;&nbsp;<a href="{{ url(page) }}#disqus_thread">Commentaires</a></span>
{% endif %}
            <span>
{% for tag in page.tags|slice(0, 1) %}
                <a href="{{ url('tags/' ~ tag) }}">#{{ tag }}</a>&nbsp;
{% endfor %}
            </span>
        </div>
    </header>
{% if page.image is defined and page.image %}
    <p style="text-align: center"><img src="{{ page.image }}" alt="Image d'illustration"/></p>
{% endif %}
    {{ page.content }}
    <footer class="tags">
{% if page.tags is defined %}
{% for tag in page.tags %}
        <a href="{{ url('tags/' ~ tag) }}">#{{ tag }}</a>&nbsp;
{% endfor %}
{% endif %}
    </footer>
{% if page.filepath is defined %}
    <aside class="callout">
        <small><a href="{{ site.source ~ page.filepath }}">Suggérer une correction ?</a></small>
    </aside>
{% endif %}
{% if site.comments %}
    <aside class="comments">
{% include 'partials/comments.html.twig' %}
<script id="dsq-count-scr" src="//arnaudligny.disqus.com/count.js" async></script>
    </aside>
{% endif %}
</article>
{% include 'partials/structured-data-breadcrumblist.html.twig' %}
{% endblock content %}
