<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% spaceless %}
{% if page.pathname == 'blog' %}
    Blog de {{ site.title }}
{% elseif page.path == 'blog' %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}
    {% endspaceless %}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords|join(', ') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#d23d23">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.gravatar }}?s=16.gif" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} : blog" href="{{ url('rss.xml') }}" />
    <link rel="manifest" href="{{ url('manifest.json') }}">
    <!-- Facebook meta -->
    <meta property="og:locale" content="fr_FR" />
{% if page.nodeType == 'homepage' %}
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:type" content="profile" />
    <meta property="fb:profile_id" content="{{ site.social.facebook_id }}" />
    <meta property="profile:first_name" content="{{ site.author.firstname }}" />
    <meta property="profile:last_name" content="{{ site.author.lastname }}" />
    <meta property="profile:username" content="{{ site.author.username }}" />
{% elseif page.section == 'blog' %}
    <meta property="og:url" content="{{ url(page) }}" />
    <meta property="og:type" content="article" />
{% else %}
    <meta property="og:url" content="{{ url(page) }}" />
    <meta property="og:type" content="website" />
{% endif %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.gravatar }}?s=300" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@{{ site.social.twitter }}" />
    <meta name="twitter:site" content="@{{ site.social.twitter }}" />
{% filter minifyCSS %}
    <style>
        html {
            background-color: #fcfcfc;
            color: #444;
            font: 100%/3rem 'Raleway', sans-serif;
        }
        body {
            font-size: 1.8em;
            width: 760px;
            margin: 0px auto;
        }
        p {
            text-align: justify;
        }
    </style>
{% endfilter %}
    <link rel="stylesheet" href="{{ url(minify('css/style.css')) }}" media="all" />
</head>
<body>
{% block header %}
    <header>
{% block subheader %}
        <div id="subheader">
            <a href="/"><div id="avatar"></div></a>
            <div id="subheader-title">
                <h1>{{ site.title }}</h1>
                <h2>Consultant technique Web</h2>
            </div>
        </div>
{% endblock subheader %}
{% block menu %}
        <nav>
            <ul>
{% for entry in site.menus.main|sortByWeight %}
                <li><a href="{{ url(entry.url) }}">{% if entry.id == 'index' and page.id != 'index' %}<img src="{{ site.gravatar }}?s=22.gif" />&nbsp;{% endif %}{{ entry.name }}</a></li>
{% endfor %}
                <li><a href="https://twitter.com/{{ site.social.twitter }}">Twitter</a></li>
                <li><a href="https://github.com/{{ site.social.github }}">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a></li>
                <li><a href="{{ url(site.social.cv) }}">CV</a></li>
            </ul>
        </nav>
{% endblock menu %}
    </header>
{% endblock header %}
    <div id="page">
{% block content %}
        <!-- Content -->
{{ page.content }}
{% include 'includes/json.html.twig' %}
{% include 'includes/callout.html.twig' %}
{% endblock content %}
        <footer>
            <ul>
                <li>&copy; {{ "now"|date("Y") }} <a href="mailto:arnaud[AROBASE]ligny[POINT]fr">Arnaud Ligny</a></li>
                <li>Motorisé par <a href="{{ phpoole.url }}">PHPoole</a></li>
            </ul>
        </footer>
    </div>
    <!-- Web font -->
{% filter minifyJS %}
    <script>
       WebFontConfig = {
          google: { id: 'Raleway' }
       };
       (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
          s.parentNode.insertBefore(wf, s);
       })(document);
    </script>
{% endfilter %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Google Analytics -->
{% filter minifyJS %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-{{ site.ga }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endfilter %}
</body>
</html>
