{% extends '_default/page.html.twig' %}

{% block title %}
    {{ site.title }}
{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description|escape }}" />
    <meta property="og:url" content="{{ url('/', true) }}" />
    <meta property="og:type" content="profile" />
    <meta property="fb:profile_id" content="{{ site.social.facebook_id }}" />
    <meta property="profile:first_name" content="{{ site.author.firstname }}" />
    <meta property="profile:last_name" content="{{ site.author.lastname }}" />
    <meta property="profile:username" content="{{ site.author.username }}" />
{% endblock %}

{% block subheader %}
        <div id="subheader">
            <div id="avatar" class="animated bounceInDown"></div>
            <div id="subheader-title" class="animated pulse">
                <h1>{{ site.title }}</h1>
                <h2>{{ site.baseline }}</h2>
            </div>
        </div>
{% endblock subheader %}

{% block content %}
        <!-- Content -->
{{ page.content }}
{% include 'includes/json.html.twig' %}
{% include 'includes/callout.html.twig' %}
{% endblock content %}
