{% extends '_default/page.html.twig' %}

    {%- block head -%}
    {{- parent() ~}}
    <!-- dark mode -->
    <link rel="stylesheet" href="{{ asset('sass/garth-dark.scss') }}" media="(prefers-color-scheme: dark)" async>
    {#- Styles enhancements ~#}
    <style>{% apply minify_css %}
      @media screen and (min-width: 40em) {
        .main {
          flex-direction: inherit;
        }
      }
      /* accessibility */
      .nav {
        padding: inherit;
      }
      .list .item {
        padding: inherit;
      }
      /* CV */
      .profile-picture {
        float: right;
        border-radius: 5%;
        overflow: hidden;
        margin: 1rem !important;
      }
      @media screen and (max-width: 40em) {
        .profile-picture {
          display: none!important;
        }
      }
      @media screen {
        .print {
          display: none;
        }
      }
      /* print */
      @media print {
        header, footer {
          display: none;
        }
        abbr[title] {
          text-decoration: none;
        }
        .print {
          display: block;
        }
        .print__footer {
          margin-top: 3rem;
          padding-top: 0.5rem;
          border-top: 1px solid #b6ceed;
        }
      }
      /* figure caption */
      figcaption {
        font-style: italic;
        font-size: smaller;
        padding: 3px;
        text-align: center;
      }
      /* fix <pre> with for responsive */
      .typeset pre {
        white-space: pre;
        overflow-x: auto;
      }
      /* hljs */
      pre code.hljs {
        padding: 0 !important;
      }
      /* read more */
      .readmore {
        font-weight: 700;
      }
    {% endapply %}</style>
    <!-- PWA -->
    <meta name="theme-color" content="{{ site.manifest.theme_color }}" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="{{ site.manifest.theme_color_dark }}" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="{{ url('manifest') }}">
    <!-- webmentions -->
    <link rel="webmention" href="https://webmention.io/arnaudligny.fr/webmention">
    <link rel="pingback" href="https://webmention.io/arnaudligny.fr/xmlrpc">
    <!-- Image CDN -->
    <link rel="preconnect" href="https://ayrcxgimor.cloudimg.io">
    <link rel="dns-prefetch" href="https://ayrcxgimor.cloudimg.io">
    {%- endblock head ~%}

    {%- block footer -%}
    {{ parent() }}
    {%- include 'partials/regsw.js.twig' ~%}
    <!-- Cloudflare Web Analytics -->
    {%- include 'partials/cloudflareinsights.js.twig' ~%}
    <!-- Syntax highlight -->
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/' ~ site.highlight.version ~ '/styles/a11y-light.min.css')|html({title: 'Syntax highlight light theme', media: '(prefers-color-scheme: light)'}, {preload: true}) ~}}
    {{ asset('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/' ~ site.highlight.version ~ '/styles/a11y-dark.min.css')|html({title: 'Syntax highlight dark theme', media: '(prefers-color-scheme: dark)'}, {preload: true}) ~}}
    <!-- anchor.js -->
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/anchor-js/' ~ site.anchor.version ~ '/anchor.min.js') }}"></script>
    <script>{%- apply minify_js -%}
      var selector = 'body > main > div > article > h2, body > main > div > article > h3';
      anchors.options = {
        placement: 'left',
        visible: 'over',
        icon: '#'
      };
      anchors.add(selector);
    {%- endapply -%}</script>
    <div class="print print__footer">
      &copy; {{ site.copyright|default(site.title) }} — <a href="{{ url(page) }}">{{ url(page, {canonical: true}) }}</a>
    </div>
    {{- include('partials/identity.html.twig', {site: site}, with_context = false, ignore_missing = true) ~}}
    {%- endblock footer ~%}