{% extends '_default/page.html.twig' %}

{% set title = 'Blog de ' ~ site.title %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head_fb_meta %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ page.content|striptags|slice(0, 150)|default(site.description) }}" />
    <meta property="og:url" content="{{ url(page, {'canonical': true}) }}" />
{% endblock head_fb_meta %}

{% block content %}
<section id="posts">
    <h1>Blog</h1>
{% if page.pagination is defined %}
{% for post in page.pagination.pages %}
    <article class="post">
        <header>
            <h2 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h2>
            <div class="post-meta">
{% if post.date %}
                <!--<span class="post-date">{{ post.date|date("j M Y") }}</span>-->
                <span class="post-date">{{ post.date|localizeddate('long', 'none') }}</span>
{% endif %}
                <span class="post-time">&#128336;&nbsp;{{ readtime(post.content) }}&nbsp;min</span>
{% if site.comments %}
                <span class="post-com">&#9998;&nbsp;<a href="{{ url(post) }}#disqus_thread">Commentaires</a></span>
{% endif %}
            </div>
        </header>
        <p>
{% if post.image is defined %}
            <img src="{{ post.image }}" alt="Image d'illustration"/>
{% endif %}
            {{ post.content|excerptHtml }}
        </p>
        <footer class="more">
            <a href="{{ url(post) }}#more">Lire la suite ›</a>
        </footer>
    </article>
    <hr />
{% endfor %}

{% include 'partials/pagination.html.twig' %}

{% else %}
{% for post in site.pages|filterBySection(page.path)|sortByDate %}
    <article class="post">
        <header>
            <h2 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h2>
            <div class="post-meta">
{% if post.date %}
                <span class="post-date">{{ post.date|date("j M Y") }}</span>
{% endif %}
                <span class="post-time">&#128336;&nbsp;{{ readtime(post.content) }}&nbsp;min</span>
{% if site.comments %}
                <span class="post-com">&#9998;&nbsp;<a href="{{ url(post) }}#disqus_thread">Commentaires</a></span>
{% endif %}
            </div>
        </header>
        <p>
{% if post.image is defined %}
            <img src="{{ post.image }}" alt="Image d'illustration"/>
{% endif %}
            {{ post.content|excerptHtml }}
        </p>
        <footer class="more">
            <a href="{{ url(post) }}#more">Lire la suite &raquo;</a>
        </footer>
    </article>
    <hr />
{% endfor %}
{% endif %}
</section>
{% if site.comments %}
<script id="dsq-count-scr" src="//arnaudligny.disqus.com/count.js" async></script>
{% endif %}
{% endblock content %}
