{% extends 'index.html.twig' %}

{% block subheader %}
{% endblock subheader %}

{% block content %}
<section id="posts">
{% if page.pagination is defined %}
{% for post in page.pagination.pages %}
    <article class="post">
        <header>
            <h2 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h2>
            <div class="post-meta">
{% if post.date %}
                <span class="post-date">{{ post.date|date("j M Y") }}</span>
{% endif %}
                <span class="post-time">&#128336;&nbsp;{{ readtime(post.content) }}&nbsp;min</span>
                <span class="post-com">&#9998;&nbsp;<a href="{{ url(post) }}#disqus_thread">Commentaires</a></span>
            </div>
        </header>
        <p>{{ post.content|excerptHtml }}</p>
        <footer class="more">
            <a href="{{ url(post) }}#more">Lire la suite ›</a>
        </footer>
    </article>
    <hr />
{% endfor %}
    <navigation>
{% if page.pagination.prev is defined %}
        <a class="pagination-item" href="{{ url(page.pagination.prev) }}">‹ Précédent</a>
{% else %}
        <span class="pagination-item">‹ Précédent</span>
{% endif %}
{% if page.pagination.next is defined %}
        <a class="pagination-item" href="{{ url(page.pagination.next) }}">Suivant ›</a>
{% else %}
        <span class="pagination-item">Suivant ›</span>
{% endif %}
    </navigation>
{% else %}
{% for post in site.pages|filterBySection(page.pathname)|sortByDate %}
    <article class="post">
      <header>
          <h2 class="post-title"><a href="{{ url(post) }}">{{ post.title }}</a></h2>
          <div class="post-meta">
{% if post.date %}
              <span class="post-date">{{ post.date|date("j M Y") }}</span>
{% endif %}
              <span class="post-time">&#128336;&nbsp;{{ readtime(post.content) }}&nbsp;min</span>
              <span class="post-com">&#9998;&nbsp;<a href="{{ url(post) }}#disqus_thread">Commentaires</a></span>
          </div>
      </header>
        {{ post.content|excerpt }}
        <footer class="more">
            <a href="{{ url(post) }}#more">Lire la suite &raquo;</a>
        </footer>
    </article>
    <hr />
{% endfor %}
{% endif %}
</section>
<script id="dsq-count-scr" src="//arnaudligny.disqus.com/count.js" async></script>
{% endblock %}
