{% extends '_default/page.html.twig' %}

{% block title %}
    Projets de {{ site.title }}
{% endblock %}

{% block head_meta %}
    {{ parent() }}

{% endblock %}

{% block content %}
<section id="projects">
    <h1>Projets</h1>
{% for project in site.pages|filterBySection(page.pathname)|sortByWeight %}
    <article class="project">
        <header>
            <h2 class="project-title">{{ project.title }}</h2>
        </header>
        <p>
{% if project.image is defined %}
            <img src="{{ project.image }}" alt="Image d'illustration"/>
{% endif %}
            {{ project.content }}
        </p>
    </article>
    <hr />
{% endfor %}
</section>
<script id="dsq-count-scr" src="//arnaudligny.disqus.com/count.js" async></script>
{% endblock content %}
