{% extends '_default/page.html.twig' %}

{% set title = 'Les projets de ' ~ site.title %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head_fb_meta %}
    {% set title = page.title ~ ' &middot; ' ~ title %}
    {{ parent() }}
{% endblock head_fb_meta %}

{% block content %}
<section id="projects">
    <h1>Projets</h1>
    <p>{{ page.content }}</p>
{% for project in site.pages|filterBySection(page.path)|sortByWeight %}
    <article class="project">
        <header>
            <h2 class="project-title">{{ project.title }}</h2>
        </header>
        <p>
{% if project.image is defined %}
            <img src="{{ project.image }}" alt="Image d'illustration"/>
{% endif %}
            {{ project.content }}
        </p>
    </article>
    <hr />
{% endfor %}
</section>
{% endblock content %}
